.review-item{
    display: flex;
    border: 5px solid gainsboro;
    justify-content: space-between;
    align-items: center;
    width: 70%; 
    margin-bottom: 20px;
    border-radius: 10px;
}
.review-item img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}
.review-item button{
    display: block; 
    height: 30px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
}